In [1]:
import numpy as np
import pandas as pd

# Ejercicio 1

In [8]:
a=np.random.randint(1,501,(30,20))

print(np.mean(a))
print(np.mean(a[:3]))
print(np.mean(a[:,5:10]))
print(np.count_nonzero(a>250))

249.20666666666668
266.95
277.8466666666667
308

# Ejercicio 2

In [3]:
copia= a[:,:3]
copia=copia.flatten()
print(copia)
print (copia[copia%2!=0])

[209 321  86 123 328 357 423 152 345 380 118 490  64 235 228 267 430 130
 474 253  51 253 459  62 449 403 133 140 142 140 257 458 130 452 305  41
 375  12   2  86 163 371 226 154 213 276 466 148 377 128 180 295 459 230
  77 467 402 157  19 327  88 398 197 433  58 105 323  36 132 104 488 418
 392 267 271 446 184  29 148  81 234  54 137 470 338 255 389 234 477 385]
[209 321 123 357 423 345 235 267 253  51 253 459 449 403 133 257 305  41
 375 163 371 213 377 295 459  77 467 157  19 327 197 433 105 323 267 271
  29  81 137 255 389 477 385]

# Ejercicio 3

In [15]:
alumnos= pd.read_csv("alumnos.csv", index_col="cod_alumno")
print(alumnos['nombre'].count())
print(alumnos['edad'].mean())
print(alumnos.sort_values(by="edad")[['nombre','apellidos','edad']])

300
22.863333333333333
             nombre          apellidos  edad
cod_alumno
Q75569        Jorge   Martínez Vázquez    18
D20123       Marina    Fernández López    18
H18961      Antonio     Torres Ramírez    18
V64183       Javier     Moreno Ramírez    18
J94318         Sara  Gutiérrez Serrano    18
...             ...                ...   ...
Q92020        María   Gutiérrez Molina    34
D69261         Alba       Ruiz Álvarez    34
E83769         Iván       Díaz Vázquez    34
U38982        Lucía       Ramírez Ruiz    34
A10746       Daniel      Pérez Álvarez    34

[300 rows x 3 columns]

# Ejercicio 4

In [5]:
ana=alumnos['analisis']
dis=alumnos['diseno']
imp=alumnos['implementacion']
pre=alumnos['presentacion']
coe=alumnos['coevaluacion']
media=(ana+dis+imp+pre+coe)/5
alumnos['NotaFinal']= media
filtro1=alumnos['analisis']>=5
filtro2=alumnos['diseno']>=5
filtro3=alumnos['implementacion']>=5
filtro4=alumnos['presentacion']>=5
filtro5=alumnos['coevaluacion']>=5
filtro=filtro1&filtro2&filtro3&filtro4&filtro5
print(alumnos.loc[(filtro),['nombre','apellidos','NotaFinal']])

               nombre            apellidos  NotaFinal
cod_alumno
O64545           Alba      Sánchez Sánchez      7.950
S29762           Iván          Pérez López      7.504
Y73264         Miguel       Pérez Martínez      7.404
T86690          Sofía       Molina Vázquez      7.950
H10674        Natalia        López Jiménez      7.216
F15015          Rubén    Sánchez Rodríguez      7.558
G64634          María    Domínguez Sánchez      6.968
S82863         Marina    Serrano Domínguez      6.908
S13175        Natalia    Ramírez Hernández      6.878
M11662          Elena       Martínez López      8.404
A70585         Carlos     Fernández Romero      6.964
W53857         Miguel    Ramírez Rodríguez      7.838
C78212        Valeria       Díaz Rodríguez      7.014
C66228         Miguel        Ramos Vázquez      7.434
U22782         Daniel      Martín Martínez      7.674
L75812         Javier     Ramírez González      9.048
D33866         Adrián       Navarro Alonso      8.198
W78139          Sofía        Serrano López      7.098
C54911        Valeria       Romero Jiménez      6.830
V17816          Elena          Ramos López      8.004
U71791         Manuel       Romero Sánchez      7.510
U90150          Diego        Vázquez Pérez      6.742
H71280          David       Alonso Vázquez      8.700
T25308          Paula  Gutiérrez Fernández      6.500
Z59242         Marina        Muñoz Jiménez      7.604
C76009           Sara    Domínguez Jiménez      7.564
D87124          Pablo     Blanco Gutiérrez      7.874
O90544         Sergio           Díaz Muñoz      6.918
K21081          David    Sánchez Domínguez      7.514
L54790         Manuel         Molina Pérez      6.834
P72743         Carlos      Serrano Serrano      7.398
E84193         Sergio      Romero González      7.874
D22025         Miguel        Moreno García      6.046
I15413        Claudia        Martín Romero      7.682
P76825      Alejandro          Torres Díaz      6.844

# Ejercicio 5

In [6]:


filtro1=alumnos['repite']=="sí"
print(alumnos.loc[filtro1,'repite'].count())

filtro2=alumnos['tipo_alumno']=="Presencial"
filtroA=filtro1&filtro2
print(alumnos.loc[filtroA,'repite'].count())

filtro3=alumnos['grupo']!="1A"
filtroB=filtro1&filtro3
print(alumnos.loc[filtroB,'repite'].count())

#print(alumnos[alumnos.index=='Y73264'])
nota=alumnos.loc[alumnos.index=='Y73264','NotaFinal']
print(nota)
filtro4=alumnos['NotaFinal']>7.404+0.0001
print(alumnos.loc[filtro4,['nombre','apellidos','NotaFinal']])

167
36
160
cod_alumno
Y73264    7.404
Name: NotaFinal, dtype: float64
              nombre          apellidos  NotaFinal
cod_alumno
O64545          Alba    Sánchez Sánchez      7.950
H49193       Natalia       Ramos Moreno      7.896
P73346         David    López Domínguez      8.136
S29762          Iván        Pérez López      7.504
T86690         Sofía     Molina Vázquez      7.950
F15015         Rubén  Sánchez Rodríguez      7.558
M11662         Elena     Martínez López      8.404
W53857        Miguel  Ramírez Rodríguez      7.838
C66228        Miguel      Ramos Vázquez      7.434
F58212         Jorge        Gil Vázquez      7.494
U22782        Daniel    Martín Martínez      7.674
Y83369        Daniel      Molina Martín      7.474
L75812        Javier   Ramírez González      9.048
D33866        Adrián     Navarro Alonso      8.198
Z72281       Valeria    Hernández Ramos      7.858
V17816         Elena        Ramos López      8.004
U71791        Manuel     Romero Sánchez      7.510
F46004      Cristina    López Gutiérrez      7.526
H71280         David     Alonso Vázquez      8.700
X65909        Sergio  Rodríguez Navarro      7.656
R24369       Natalia     Jiménez Romero      7.512
Z59242        Marina      Muñoz Jiménez      7.604
C76009          Sara  Domínguez Jiménez      7.564
V95154       Valeria     Molina Navarro      7.450
D87124         Pablo   Blanco Gutiérrez      7.874
K21081         David  Sánchez Domínguez      7.514
L18948         Sofía          Díaz Díaz      7.454
E84193        Sergio    Romero González      7.874
B85029        Marina         Díaz Ramos      7.862
I15413       Claudia      Martín Romero      7.682
C80695         Marta      García Blanco      7.836
J64423         Rocío    Ramos Rodríguez      7.458

# Ejercicio 6

In [7]:
animales_grupo= pd.read_csv("animales.csv")
print(animales_grupo)
alumnos['animal']='algo'

alumnos.loc[alumnos['grupo']=="1A","animal"]=="leones"
alumnos.loc[alumnos['grupo']=="1B","animal"]=="tigres"
alumnos.loc[alumnos['grupo']=="1C","animal"]=="panteras"
alumnos.loc[alumnos['grupo']=="1D","animal"]=="lobos"
alumnos.loc[alumnos['grupo']=="2A","animal"]=="zorros"
alumnos.loc[alumnos['grupo']=="2B","animal"]=="aguilas"
alumnos.loc[alumnos['grupo']=="2C","animal"]=="halcones"
alumnos.loc[alumnos['grupo']=="2D","animal"]=="buhos"
alumnos.loc[alumnos['grupo']=="3A","animal"]=="delfines"
alumnos.loc[alumnos['grupo']=="3B","animal"]=="tiburones"
alumnos.loc[alumnos['grupo']=="3C","animal"]=="orcas"
alumnos.loc[alumnos['grupo']=="3D","animal"]=="ballenas"
alumnos.loc[alumnos['grupo']=="4A","animal"]=="pulpos"
alumnos.loc[alumnos['grupo']=="4B","animal"]=="tortugas"
alumnos.loc[alumnos['grupo']=="4C","animal"]=="pandas"
alumnos.loc[alumnos['grupo']=="4D","animal"]=="koalas"
alumnos.loc[alumnos['grupo']=="5A","animal"]=="canguros"
alumnos.loc[alumnos['grupo']=="5B","animal"]=="camaleones"
alumnos.loc[alumnos['grupo']=="5C","animal"]=="jaguares"
alumnos.loc[alumnos['grupo']=="5D","animal"]=="pumas"
alumnos.loc[alumnos['grupo']=="1A","animal"]=="linces"
alumnos.loc[alumnos['grupo']=="6B","animal"]=="ciervos"
alumnos.loc[alumnos['grupo']=="6C","animal"]=="jabalis"
alumnos.loc[alumnos['grupo']=="6D","animal"]=="mapaches"
alumnos.loc[alumnos['grupo']=="7A","animal"]=="nutrias"
alumnos.loc[alumnos['grupo']=="7B","animal"]=="focas"
alumnos.loc[alumnos['grupo']=="7C","animal"]=="pinguinos"
alumnos.loc[alumnos['grupo']=="7D","animal"]=="flamencos"
alumnos.loc[alumnos['grupo']=="8A","animal"]=="gorilas"
alumnos.loc[alumnos['grupo']=="8B","animal"]=="chimpances"
alumnos.loc[alumnos['grupo']=="8C","animal"]=="hienas"
alumnos.loc[alumnos['grupo']=="8D","animal"]=="bisontes"
alumnos.loc[alumnos['grupo']=="9A","animal"]=="rinocerontes"
alumnos.loc[alumnos['grupo']=="9B","animal"]=="hipopotamos"
alumnos.loc[alumnos['grupo']=="9C","animal"]=="gacelas"
alumnos.loc[alumnos['grupo']=="9D","animal"]=="cabroas"


#df.loc[(filtro1|filtro2),"Etiqueta_ECO"]="yes"
print(alumnos[['grupo','animal']])

   grupo        animal
0     1A        Leones
1     1B        Tigres
2     1C      Panteras
3     1D         Lobos
4     2A        Zorros
5     2B       Águilas
6     2C      Halcones
7     2D         Búhos
8     3A      Delfines
9     3B     Tiburones
10    3C         Orcas
11    3D      Ballenas
12    4A        Pulpos
13    4B      Tortugas
14    4C        Pandas
15    4D        Koalas
16    5A      Canguros
17    5B    Camaleones
18    5C      Jaguares
19    5D         Pumas
20    6A        Linces
21    6B       Ciervos
22    6C      Jabalíes
23    6D      Mapaches
24    7A       Nutrias
25    7B         Focas
26    7C     Pingüinos
27    7D     Flamencos
28    8A       Gorilas
29    8B    Chimpancés
30    8C        Hienas
31    8D      Bisontes
32    9A  Rinocerontes
33    9B   Hipopótamos
34    9C       Gacelas
35    9D        Cebras
           grupo animal
cod_alumno
E67817        8C   algo
W43010        1D   algo
O64545        9A   algo
M91992        5A   algo
H49193        8B   algo
...          ...    ...
N99464        9A   algo
W84480        7D   algo
Q57367        7B   algo
M07538        8C   algo
P76825        6D   algo

[300 rows x 2 columns]